body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  overflow: hidden;
}
body.on {overflow: scroll;}
body.on.pop {overflow: hidden;} 
body #wrap {opacity: 0; transition: all 3s;}
body.on #wrap {opacity: 1;}


body #dim{position: fixed;top: 0;left: 0;background: #fff;width: 100%;height: 100vh;overflow: hidden; display: flex; align-items: center; justify-content: center;}
body.on #dim{display: none;}

img {
  width: 100%;
}
.nav {
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 20px;
}

.nav li.on {
  background: red;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.cont.main {
  background: #f9f2ed;
  /* background-image: url(/img/main_img.jpg);
  background-repeat: no-repeat;
  background-position: 58% 0;
  background-size: cover; */
}

.title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 300;
}

.title .date {
  font-size: 1rem;
}

.title .name {
  font-size: 1.25rem;
}


.blink {
  animation: blink 0.5s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.swiper-wraps {width: 100%;}
.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  align-items: center;
}

.popup .swiper-button-next, .popup .swiper-rtl .swiper-button-prev,.popup .swiper-button-prev, .popup .swiper-rtl .swiper-button-next {
  color: #000
}


.toast {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 90%;
  padding: 1rem 0;
  border-radius: 0.25rem;
  text-align: center;
  color: #fff;
  font-size: .875rem;
  background: rgba(51, 51, 51, 0.9);
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
  animation: slideUp 3s ease;
}

@keyframes slideUp {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  20% {
      transform: translateY(0);
      opacity: 1;
  }
  80% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100px);
      opacity: 0;
  }
}


.galley {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 동일한 너비의 컬럼 */
  grid-template-rows: repeat(3, 1fr); /* 3개의 동일한 높이의 로우 */
  gap: 10px; /* 그리드 아이템 사이의 간격 */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup .swiper-pagination {color: #fff;}
.popup .close {
  width: 50px;
  height: 50px;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
}

.popup .close::before {content: ''; width: 5px; height: 100%; background: #fff; position: absolute; top: 0; left: 50%; transform: translateX(-50%) rotate(45deg);} 
.popup .close::after {content: ''; width: 5px; height: 100%; background: #fff; position: absolute; top: 0; left: 50%; transform: translateX(-50%) rotate(-45deg);} 
