:root {
  --max-width: 400px;
}

.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-700 {
  font-weight: 700 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  max-width: 100vw;
  min-width: 375px;
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
}

.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
}

.wrap.on {
  transition: all 1s;
  opacity: 1;
}

.bg {
  max-width: var(--max-width);
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  bottom: -10px;
}

.bg-text {
  position: fixed;
  top: 130px;
  text-align: center;
}
.bg-text-tit {
  font-size: 18px;
  line-height: 30px;
}

.bg-text-date {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.75px;
}

.bg-arrow {
  position: relative;
  display: block;
  padding-top: 60px;
  margin-top: 30px;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
.bg-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
}
.bg-arrow span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.content {
  /* border: 1px solid rgb(235, 234, 233); */
  position: relative;
  max-width: var(--max-width);
  width: 100%;
  margin-top: calc(100% - 100px);
  background: url(/img/paper.png);
  background-size: contain;
  z-index: 2;
}

.toggle-item {
  margin-top: 30px;
  border: 1px solid #787878;
}
.toggleButton {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.toggle-arrow {
  width: 20px;
  height: auto;
  transition: all 0.5s;
}
.toggle-item.open .toggle-arrow {
  transform: rotate(180deg);
}

.toggle-item:nth-child(1) .toggleButton {
  background: skyblue;
}
.toggle-item:nth-child(2) .toggleButton {
  background: pink;
}

.toggleBox {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.5s ease, border 0.5s ease;
  border: 0px solid #ccc;
}

.account-number {
  padding: 20px;
}

.account-number li:not(:first-child) {
  margin-top: 10px;
  padding-top: 17px;
  border-top: 1px solid #ccc;
}

.copy-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.copy-box button {
  border: none;
  background: #e8e6e6;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}
.copy-box button img {
  width: 10px;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 0 15px;
}

.item:first-child {
  margin-top: 0;
}

.section2,
.section3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.section3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.section4 {
  margin-top: 50px;
}
.section4 h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.section4 #map {
  margin-top: 10px;
}

.dim {
  max-width: var(--max-width);
  margin: 0 auto -10px;
  /* margin: 0 auto -100px; */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4;
}

canvas {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* 토스트팝업 */
.toast {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 90%;
  padding: 16px 0;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: rgba(51, 51, 51, 0.9);
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
  animation: slideUp 3s ease;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

.scroll-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll-element.visible {
  opacity: 1;
}

/* gallery */
.gallery-box {
}
.gallery {
  height: auto;
  padding: 15px 15px;
  background: #fff;
}

html,
body {
  position: relative;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

swiper-slide img {
  /* display: sw </swiper-slidek; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper-thum {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.mySwiper-thum swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper-thum .swiper-slide-thumb-active {
  opacity: 1;
}

.calendar {
  /* background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  width: 100%;
}

.calendar .sat {
  color: blue;
}
.calendar .sun {
  color: red;
}

.month {
  text-align: center;
  padding: 20px;
  /* background: #0d6efd; */
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.month button {
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}

.month h2 {
  font-size: 24px;
  margin: 0;
}

.weekdays,
.days {
  display: flex;
  flex-wrap: wrap;
}

.weekdays div,
.days div {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  padding: 10px;
}

.days div.active {
  color: red;
}
.days div.active::after {
  position: absolute;
  background: #fff;
  content: "";
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

.weekdays {
  /* background: #0d6efd; */
  color: #000;
}

.days div {
  cursor: pointer;
}

.prev-date,
.next-date {
  color: #c0c0c0;
}

.count-down {
  width: 100%;
  background: url(/img/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: 0;
  padding: 100px 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 2px black;
}

.count-down p {
  font-size: 20px;
}
.count-down .count {
  margin-top: 10px;
  font-size: 24px;
}

.location_button_box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.location_button_box a {
  width: 49%;
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: rgb(233 230 230);
  padding: 20px 0;
  border: 1px solid #ccc;
}

.btn-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-wrap button {
  border: none;
  background: #fff;
  margin-top: 10px;
  padding: 20px 0;
  width: 150px;
  border-radius: 10px;
}
.heart-wrap {
  text-align: center;
}
.heart-wrap button {
  padding: 20px;
  font-size: 20px;
}


/* 탭 */
.swiper-container-tabs {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.tab {
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
}
.tab.active {
  background-color: #ddd;
  font-weight: bold;
}